*{
    margin: 0;
    padding: 0;
}

.container {
    width: 1150px;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.menu ul li {
    display: inline;
    margin-right: 30px;
    font-size: 20px;
}

/* Start Hero */

.hero {
    display: flex;
    justify-content: space-around;
    margin-top: 125px;
}

.hero-text {
    width: 450px;
}

.hero-text h1 {
    font-size: 35px;
    font-weight: 400;
}

.hero-text p {
    font-size: 18px;
    gap: 20px;
}

.hero-text h1, .hero-text p {
    margin-bottom: 30px;
}

.hero-text button {
    background-color: #FF6464;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #FFFFFF;
}